{# src\symfony\CinemaBundle\Resources\views\auteur\show.html.twig #}
{% endblock %}
<h1>{{ auteur.nom }}</h1>
<p>{{ auteur.date_de_naissance }}</p>
<span>Réalisé par {{ auteur.nom }}</span>

<p>{{ auteur.prenom }}</p>

<p><a href="{{ path('page_auteur') }}">Retour</a></p>
{% endblock %}