{# src\symfony\CinemaBundle\Resources\views\auteur\show.html.twig #}
<h1>{{ auteur.nom }}</h1>
<h1>{{ auteur.date_de_naissance }}</h1>
<span>Réalisé par {{ auteur.nom }}</span>

<p>{{ auteur.biographie }}</p>




<p><a href="{{ path('page_auteur') }}">Retour</a></p>